
.row {
  display: flex;
}

.col-1 {    
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.quarter-inset-col {
  margin-right: -2.083333333%;
}

.quarter-offset-col {
  margin-right: 2.083333333%;
}

.half-offset-col {
  margin-right: 4.166666667%;
}

.col-half {
  flex: 0 0 4.166666667%;
  max-width: 4.166666667%;
}

.col-quarter {
  flex: 0 0 2.083333333%;
  max-width: 2.083333333%;
}

.col-fill {
  flex: 1;
}

@media (max-width: 800px) {

  .shrink-col-1 {    
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  
  .shrink-col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  
  .shrink-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .shrink-col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .shrink-col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  
  .shrink-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .shrink-col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .shrink-col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  
  .shrink-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  .shrink-col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .shrink-col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  
  .shrink-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-shrink-stack {
    flex-direction: column;
  }

  .row-shrink-stack > * {
    flex: 1;
    max-width: unset;
  }



}