.wrapper > .__nav {
  height: 82.5px;
}

.wrapper > .__nav ._logo {
  display: block;
  margin: 0 auto;
  height: 45px;
  padding: 0 24px;
  min-width: 0;
  object-fit: scale-down;
}

@media (max-width: 800px) {
  .wrapper > .__nav {
    height: 125px;
    padding-top: 24px;
  }

  .wrapper > .__nav ._logo {
    height: 55px;
  }

  .wrapper > .__nav ._nav-links {
    justify-content: space-around;
    padding: 0 10px;
  }
}

.wrapper > .__arrow-container {
  height: 74px;
  justify-content: center;
}

.wrapper > .__header {
  height: calc(100% - (82.5px + 74px));
  min-height: calc(530px - (82.5px + 74px));
  position: relative;
}

@media (max-width: 800px) {
  .wrapper > .__header {
    height: calc(100% - (125px + 24px + 74px));
    min-height: calc(500px - (82.5px + 74px));
    position: relative;
  }
}

@media (max-width: 800px) {
  .wrapper > .__header ._hero-title {
    padding: 0 7%;
  }

  .wrapper > .__header ._hero-subtitle,
  .wrapper > .__header ._hero-etc
   {
    padding-right: 20%;
  }
}

.wrapper > .__header ._hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25% 50%;
}

@media (max-width: 800px) {
  .wrapper > .__header ._hero-image {
    padding-top: 90px;
    height: calc(100% - 90px);
    object-position: 50% 50%;
  }
}

.wrapper > .__header ._text-overlay {
  position: absolute;
  width: 100%;
}

.wrapper > .__header ._divider{
  height: 1px;
  background: #000913;
  margin: 30px 0;
}

@media (max-width: 800px) {
  .wrapper > .__header ._divider {
    margin: 23px 0;
  }
}

.wrapper > .__mission {
  position: relative;
}

.wrapper > .__mission ._background-decoration {
  background: #f7f7f6;
  height: 510px;
  margin-bottom: calc(-510px + 60px);
}

@media (max-width: 800px) {
  .wrapper > .__mission ._background-decoration {
    height: 750px;
    margin-bottom: calc(-750px + 60px);
  }
}

.wrapper > .__mission ._video-row {
  margin-top: -170px;
}

@media (max-width: 800px) {
  .wrapper > .__mission ._video-row {
    margin-top: 50px;
  }
}

.wrapper > .__mission ._video {
  position: relative;
  justify-content: center;
}

.wrapper > .__mission ._still {
  width: 100%;
  position: relative;
  z-index: 1;
}

.wrapper > .__mission ._play {
  width: 46px;
  position: absolute;
  z-index: 2;
}

.wrapper > .__mission ._border {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #c4090a;
  top: 6px;
  left: 5px;
}

.wrapper > .__mission ._portrait-row {
  margin-top: -60px;
}

@media (max-width: 800px) {
  .wrapper > .__mission ._portrait-row {
    margin-top: 60px;
  }
}

.wrapper > .__mission ._portrait-text {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  margin: 0 auto;
  white-space: nowrap;
}

.wrapper > .__mission ._portrait {
  width: 100%;
}

.wrapper > .__mission ._text-divider {
  margin: 8px 0;
}

.wrapper > .__mission ._alias-row {    
  margin-top: -170px;
}

@media (max-width: 800px) {
  .wrapper > .__mission ._alias-row {
    margin-top: 60px;
  }
}

.wrapper > .__mission ._alias-result {    
  font-size: 1.5rem;
  color: #000913;
  display: inline-block;
  text-transform: uppercase;
  margin: 45px;    
  padding: 15px;
  background: #f7f7f6;
  transition: opacity 200ms ease-out, transform 300ms ease-out;
}

.wrapper > .__mission ._alias-result[data-invisible="true"] {    
  opacity: 0;
  transform: translateY(30px);
}

.wrapper > .__mission ._alias-result[data-invisible="false"] {    
  opacity: 1;
  transform: translateY(0);
}

.wrapper > .__mission ._content {    
  position: relative;
  top: -7px;
  left: 43px;
}

.wrapper > .__mission ._bottom-padding-row {    
  height: 185px;
}

@media (max-width: 800px) {
  .wrapper > .__mission ._bottom-padding-row {    
    height: 60px;
  }
}